<a href="https://colab.research.google.com/github/tmangwende/Coursera_Capstone/blob/main/WebSkrepper1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Examine the raw HTML data using view-source:https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M. Establish the Table with the attributes Postal Code, Borough & Neighbourhood.

In [ ]:
#download the raw HTML data from the URL
import pandas as pd
df_2 = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
#check total Tables
len(df_2)

3

Given the three Tables from the downloading, check the contents of each Table for attributes PostalCode, Borough & Neighbourhood. Note that in tasks to follow, Neighbourhood may have to be changed to 'Neighborhood' and Postal Code to 'PostalCode'.

In [ ]:
#check contents of df_2
df_2

[    Postal Code  ...                                      Neighbourhood
 0           M1A  ...                                       Not assigned
 1           M2A  ...                                       Not assigned
 2           M3A  ...                                          Parkwoods
 3           M4A  ...                                   Victoria Village
 4           M5A  ...                          Regent Park, Harbourfront
 ..          ...  ...                                                ...
 175         M5Z  ...                                       Not assigned
 176         M6Z  ...                                       Not assigned
 177         M7Z  ...                                       Not assigned
 178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
 179         M9Z  ...                                       Not assigned

 [180 rows x 3 columns],
                                                   0   ...   17
 0                                                NaN  ...  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
 2                                                 NL  ...   YT
 3                                                  A  ...    Y

 [4 rows x 18 columns],
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

Select Table 1 indexed 0 to create a dataframe df_2.

In [ ]:
#specify row to use as header
df_2 = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
#check Table 1 containing attributes of interest Postal Code, Borough & Neighbourhood indexed as 0
df_2[0]

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [ ]:
#create data for Table 1 above
df_3 = df_2[0]
df_3

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

Examine the dataset for attributes, NANs count and data types.

In [ ]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

Determine total number of rows for 'Not assigned' Borough. Important stage for cross-checking rows that get dropped (77) and cells for assinged Borough that are processed.

In [ ]:
#select Not assigned
df_NA = df_3.loc[df_3['Borough'] == 'Not assigned']
df_NA

    Postal Code       Borough Neighbourhood
0           M1A  Not assigned  Not assigned
1           M2A  Not assigned  Not assigned
7           M8A  Not assigned  Not assigned
10          M2B  Not assigned  Not assigned
15          M7B  Not assigned  Not assigned
..          ...           ...           ...
174         M4Z  Not assigned  Not assigned
175         M5Z  Not assigned  Not assigned
176         M6Z  Not assigned  Not assigned
177         M7Z  Not assigned  Not assigned
179         M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

Are any of cells for Borough assigned while the equivalent for Neighbourhood are not? Examine the Neighbourhood column.

In [ ]:
#check for Not assigned in Neighbourhood
df_NasN = df_3.loc[df_3['Neighbourhood'] == 'Not assigned']
df_NasN

    Postal Code       Borough Neighbourhood
0           M1A  Not assigned  Not assigned
1           M2A  Not assigned  Not assigned
7           M8A  Not assigned  Not assigned
10          M2B  Not assigned  Not assigned
15          M7B  Not assigned  Not assigned
..          ...           ...           ...
174         M4Z  Not assigned  Not assigned
175         M5Z  Not assigned  Not assigned
176         M6Z  Not assigned  Not assigned
177         M7Z  Not assigned  Not assigned
179         M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

Create a dataset with cells that only have assigned Borough (103), drop by selection of row values that are not equal to 'Not assigned'. The new dataset has a discontinuous index starting from 2 this pattern may be common in other places! The index must be reset.

In [ ]:
#select Not assigned
df_3f = df_3.loc[df_3['Borough'] != 'Not assigned']
#check the dataset
df_3f

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Cross-check cells with assigned Borough may have a "Not assigned" Neighbourhood, if so the Neighbourhood is assigned the same as the Borough.

In [ ]:
#check for Not assigned in Neighbourhood
df_NN1 = df_3f.loc[df_3f['Neighbourhood'] == 'Not assigned']
df_NN1

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [ ]:
#check the dataset
df_3f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    103 non-null    object
 1   Borough        103 non-null    object
 2   Neighbourhood  103 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

In [ ]:
#reset the index and name the dataframe df_5
df_4 = df_3.loc[df_3['Borough'] != 'Not assigned']
df_4.reset_index(inplace=True, drop=True)
df_4

    Postal Code  ...                                      Neighbourhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...  Business reply mail Processing Centre, South C...
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [ ]:
#examine dataset df_4
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    103 non-null    object
 1   Borough        103 non-null    object
 2   Neighbourhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

Save the dataframe df_4 to a csv for further use.

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
#save dataframe to csv on mount drive
df_4.to_csv('/content/drive/My Drive/Colab Notebooks/df_4.csv')

In [ ]:
#check the number of rows and columns using the .shape method
df_4.shape

(103, 3)